.main-container{
    border: solid black 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.second-cont{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-image: url('../Assests/bg-pattern.svg '),url('');
    background-repeat: no-repeat,no-repeat;
    background-size: 100%,16%;
    background-position:top center, center 0.5rem;
    padding: 2rem 0;
    width: 80%;
    border: solid rgb(255, 255, 255) 1px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}


.third-cont{
    border: solid rgb(255, 255, 255) 1px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 1rem 0;
    padding: 2rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.third-cont-wrapper{
    width: 100%;
}

.third-first-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.third-first-subsecond{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.third-first-subsecond>p{
    margin-top: 0.8rem;
    font-size: 1rem;
    color: grey;
    font-weight: 500;
    margin-left: 0.5rem;
}



.third-first-subfirst>p{
    margin-top: 0.8rem;
    font-size: 1rem;
    color: grey;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.third-second-cont{
    padding: 0.5rem 0;
    /* border: solid red 1px; */
    display: flex;
    flex-direction: row; 
    justify-content:flex-end;
    align-items: center;
}

.third-second-cont>*{
    font-size: 1rem;
    padding-right: 0.7rem;
    color: grey;
    font-weight: 500;
}

.on-off{
    font-size: 1rem;
}

.on-off-cont{
    margin-top: -0.5rem;
}


.third-third-cont{
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content:space-between;
    align-items: center;
}

.start-free{
    border-radius: 30px;
}

.icon-name{
    color: aqua;
    margin-top: -0.3rem;
    margin-right: 0.5rem;
}

.icon-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-text>p{
    text-align: left;
    margin-bottom: 0.5rem;
}

.third-second>*{
    width: 12rem;
}

.theme-cont{
    padding-bottom: 1rem;
}

.theme-cont>*{
    font-size: 2rem;
}

.slidecontainer {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


  input[type='range'] {
  cursor: pointer;
  border-radius: 25px;
    -webkit-appearance: none;
    background-color: #ddd;
    height: 20px;
    overflow: hidden;
    width: 400px;
    
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 20px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #333;
    border-radius: 50%;
    box-shadow: -210px 0 0 200px rgb(0, 255, 229);
    cursor: pointer;
    height: 20px;
    width: 20px;
    border: 0;
    background: url('../Assests/icon-slider.svg') #75c3c2;
    background-position: center;
    background-repeat: no-repeat;
  }

/* media screen */

@media screen and (max-width:500px) {

    
    .second-cont{
        background-size: cover;
        background-position: 0rem -18rem;
        padding: 2rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }

    .third-cont{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin: 1rem 0;
        padding: 1rem;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }

    .third-first-cont{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .third-third-cont{
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        width: 100%;
        display: flex;
        flex-direction: column; 
        justify-content:space-between;
        align-items: center;
    }

    .third-second{
        padding-top: 1rem;
    }
}

@media screen and (min-width:500px) and (max-width:840px){
    
    .second-cont{
        background-size: cover;
        background-position: 0rem -15rem;
        width: 100%;
    }

    .third-cont{
        width: 80%;
    }

}

@media screen and (min-width:840px) and (max-width:1000px){
    
    .second-cont{
        background-size: cover;
        background-position: 0rem -15rem;
        width: 100%;
    }

    .third-cont{
        width: 60%;
    }

}

@media screen and (min-width:1000px) and (max-width:1100px){
    
    .second-cont{
        background-size: cover;
        background-position: 0rem -15rem;
        width: 100%;
    }

    .third-cont{
        width: 60%;
    }

}
 
